In [88]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [89]:
def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
    # company = 'facebook'

        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        df = pd.concat([df, hist])
    return df

In [90]:
days = 20
tickers = {
    'apple': 'AAPL',
    'facebook': 'META',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon': 'AMZN',
}

df = get_data(days, tickers)

In [91]:
import altair as alt

In [92]:
companies = ['apple', 'facebook']
data = df.loc[companies]
data

Date,20 December 2023,21 December 2023,22 December 2023,26 December 2023,27 December 2023,28 December 2023,29 December 2023,02 January 2024,03 January 2024,04 January 2024,05 January 2024,08 January 2024,09 January 2024,10 January 2024,11 January 2024,12 January 2024,16 January 2024,17 January 2024,18 January 2024,19 January 2024
Name,,,,,,,,,,,,,,,,,,,,
apple,194.830002,194.679993,193.600006,193.050003,193.149994,193.580002,192.529999,185.639999,184.250000,181.910004,181.179993,185.559998,185.139999,186.190002,185.589996,185.919998,183.630005,182.679993,188.630005,191.559998
facebook,349.279999,354.089996,353.390015,354.829987,357.829987,358.320007,353.959991,346.290009,344.470001,347.119995,351.950012,358.660004,357.429993,370.470001,369.670013,374.489990,367.459991,368.369995,376.130005,383.450012

In [93]:
data.sort_index()

Date,20 December 2023,21 December 2023,22 December 2023,26 December 2023,27 December 2023,28 December 2023,29 December 2023,02 January 2024,03 January 2024,04 January 2024,05 January 2024,08 January 2024,09 January 2024,10 January 2024,11 January 2024,12 January 2024,16 January 2024,17 January 2024,18 January 2024,19 January 2024
Name,,,,,,,,,,,,,,,,,,,,
apple,194.830002,194.679993,193.600006,193.050003,193.149994,193.580002,192.529999,185.639999,184.250000,181.910004,181.179993,185.559998,185.139999,186.190002,185.589996,185.919998,183.630005,182.679993,188.630005,191.559998
facebook,349.279999,354.089996,353.390015,354.829987,357.829987,358.320007,353.959991,346.290009,344.470001,347.119995,351.950012,358.660004,357.429993,370.470001,369.670013,374.489990,367.459991,368.369995,376.130005,383.450012

In [94]:
data = data.T.reset_index()
data.head()

Name              Date       apple    facebook
0     20 December 2023  194.830002  349.279999
1     21 December 2023  194.679993  354.089996
2     22 December 2023  193.600006  353.390015
3     26 December 2023  193.050003  354.829987
4     27 December 2023  193.149994  357.829987

In [95]:
data = pd.melt(data, id_vars=['Date']).rename(
    columns={'value': 'Stock Prices (USD)'}
)
data

                Date      Name  Stock Prices (USD)
0   20 December 2023     apple          194.830002
1   21 December 2023     apple          194.679993
2   22 December 2023     apple          193.600006
3   26 December 2023     apple          193.050003
4   27 December 2023     apple          193.149994
5   28 December 2023     apple          193.580002
6   29 December 2023     apple          192.529999
7    02 January 2024     apple          185.639999
8    03 January 2024     apple          184.250000
9    04 January 2024     apple          181.910004
10   05 January 2024     apple          181.179993
11   08 January 2024     apple          185.559998
12   09 January 2024     apple          185.139999
13   10 January 2024     apple          186.190002
14   11 January 2024     apple          185.589996
15   12 January 2024     apple          185.919998
16   16 January 2024     apple          183.630005
17   17 January 2024     apple          182.679993
18   18 January 2024     apple          188.630005
19   19 January 2024     apple          191.559998
20  20 December 2023  facebook          349.279999
21  21 December 2023  facebook          354.089996
22  22 December 2023  facebook          353.390015
23  26 December 2023  facebook          354.829987
24  27 December 2023  facebook          357.829987
25  28 December 2023  facebook          358.320007
26  29 December 2023  facebook          353.959991
27   02 January 2024  facebook          346.290009
28   03 January 2024  facebook          344.470001
29   04 January 2024  facebook          347.119995
30   05 January 2024  facebook          351.950012
31   08 January 2024  facebook          358.660004
32   09 January 2024  facebook          357.429993
33   10 January 2024  facebook          370.470001
34   11 January 2024  facebook          369.670013
35   12 January 2024  facebook          374.489990
36   16 January 2024  facebook          367.459991
37   17 January 2024  facebook          368.369995
38   18 January 2024  facebook          376.130005
39   19 January 2024  facebook          383.450012

In [96]:
ymin, ymax = 300, 400

chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8, clip=True)
    .encode(
        x="Date:T", 
        y=alt.Y("Stock Prices (USD):Q", 
            stack=None, 
            scale=alt.Scale(domain=[ymin, ymax])
        ), 
        color="Name:N"
    )
)

In [97]:
chart

alt.Chart(...)