In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [3]:
aapl = yf.Ticker('AAPL')

In [4]:
days = 50
hist = aapl.history(period=f'{days}d')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-11-07 00:00:00-05:00,178.944239,182.199959,178.734524,181.580780,70530000,0.00,0.0
2023-11-08 00:00:00-05:00,182.110085,183.208629,181.351076,182.649368,49340300,0.00,0.0
2023-11-09 00:00:00-05:00,182.719278,183.877740,181.570782,182.169998,53763500,0.00,0.0
2023-11-10 00:00:00-05:00,183.970001,186.570007,183.529999,186.399994,66133400,0.24,0.0
2023-11-13 00:00:00-05:00,185.820007,186.029999,184.210007,184.800003,43627500,0.00,0.0
2023-11-14 00:00:00-05:00,187.699997,188.110001,186.300003,187.440002,60108400,0.00,0.0
2023-11-15 00:00:00-05:00,187.850006,189.500000,187.779999,188.009995,53790500,0.00,0.0
2023-11-16 00:00:00-05:00,189.570007,190.960007,188.649994,189.710007,54412900,0.00,0.0
2023-11-17 00:00:00-05:00,190.250000,190.380005,188.570007,189.690002,50922700,0.00,0.0
2023-11-20 00:00:00-05:00,189.889999,191.910004,189.880005,191.449997,46505100,0.00,0.0
2023-11-21 00:00:00-05:00,191.410004,191.520004,189.740005,190.639999,38134500,0.00,0.0
2023-11-22 00:00:00-05:00,191.490005,192.929993,190.830002,191.309998,39617700,0.00,0.0
2023-11-24 00:00:00-05:00,190.869995,190.899994,189.250000,189.970001,24048300,0.00,0.0
2023-11-27 00:00:00-05:00,189.919998,190.669998,188.899994,189.789993,40552600,0.00,0.0
2023-11-28 00:00:00-05:00,189.779999,191.080002,189.399994,190.399994,38415400,0.00,0.0
2023-11-29 00:00:00-05:00,190.899994,192.089996,188.970001,189.369995,43014200,0.00,0.0
2023-11-30 00:00:00-05:00,189.839996,190.320007,188.190002,189.949997,48794400,0.00,0.0
2023-12-01 00:00:00-05:00,190.330002,191.559998,189.229996,191.240005,45679300,0.00,0.0
2023-12-04 00:00:00-05:00,189.979996,190.050003,187.449997,189.429993,43389500,0.00,0.0
2023-12-05 00:00:00-05:00,190.210007,194.399994,190.179993,193.419998,66628400,0.00,0.0
2023-12-06 00:00:00-05:00,194.449997,194.759995,192.110001,192.320007,41089700,0.00,0.0
2023-12-07 00:00:00-05:00,193.630005,195.000000,193.589996,194.270004,47477700,0.00,0.0
2023-12-08 00:00:00-05:00,194.199997,195.990005,193.669998,195.710007,53377300,0.00,0.0
2023-12-11 00:00:00-05:00,193.110001,193.490005,191.419998,193.179993,60943700,0.00,0.0
2023-12-12 00:00:00-05:00,193.080002,194.720001,191.720001,194.710007,52696900,0.00,0.0
2023-12-13 00:00:00-05:00,195.089996,198.000000,194.850006,197.960007,70404200,0.00,0.0
2023-12-14 00:00:00-05:00,198.020004,199.619995,196.160004,198.110001,66831600,0.00,0.0
2023-12-15 00:00:00-05:00,197.529999,198.399994,197.000000,197.570007,128256700,0.00,0.0
2023-12-18 00:00:00-05:00,196.089996,196.630005,194.389999,195.889999,55751900,0.00,0.0
2023-12-19 00:00:00-05:00,196.160004,196.949997,195.889999,196.940002,40714100,0.00,0.0
2023-12-20 00:00:00-05:00,196.899994,197.679993,194.830002,194.830002,52242800,0.00,0.0
2023-12-21 00:00:00-05:00,196.100006,197.080002,193.500000,194.679993,46482500,0.00,0.0
2023-12-22 00:00:00-05:00,195.179993,195.410004,192.970001,193.600006,37122800,0.00,0.0
2023-12-26 00:00:00-05:00,193.610001,193.889999,192.830002,193.050003,28919300,0.00,0.0
2023-12-27 00:00:00-05:00,192.490005,193.500000,191.089996,193.149994,48087700,0.00,0.0
2023-12-28 00:00:00-05:00,194.139999,194.660004,193.169998,193.580002,34049900,0.00,0.0
2023-12-29 00:00:00-05:00,193.899994,194.399994,191.729996,192.529999,42628800,0.00,0.0
2024-01-02 00:00:00-05:00,187.149994,188.440002,183.889999,185.639999,82488700,0.00,0.0
2024-01-03 00:00:00-05:00,184.220001,185.880005,183.429993,184.250000,58414500,0.00,0.0
2024-01-04 00:00:00-05:00,182.149994,183.089996,180.880005,181.910004,71983600,0.00,0.0
2024-01-05 00:00:00-05:00,181.990005,182.759995,180.169998,181.179993,62303300,0.00,0.0
2024-01-08 00:00:00-05:00,182.089996,185.600006,181.500000,185.559998,59144500,0.00,0.0
2024-01-09 00:00:00-05:00,183.919998,185.149994,182.729996,185.139999,42841800,0.00,0.0
2024-01-10 00:00:00-05:00,184.350006,186.399994,183.919998,186.190002,46792900,0.00,0.0
2024-01-11 00:00:00-05:00,186.539993,187.050003,183.619995,185.589996,49128400,0.00,0.0
2024-01-12 00:00:00-05:00,186.059998,186.740005,185.190002,185.919998,40444700,0.00,0.0
2024-01-16 00:00:00-05:00,182.160004,184.259995,180.929993,183.630005,65603000,0.00,0.0
2024-01-17 00:00:00-05:00,181.270004,182.929993,180.300003,182.679993,47317400,0.00,0.0
2024-01-18 00:00:00-05:00,186.089996,189.139999,185.830002,188.630005,78005800,0.00,0.0
2024-01-19 00:00:00-05:00,189.330002,191.949997,188.820007,191.559998,65761937,0.00,0.0

In [5]:
hist.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [6]:
hist.reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-11-07 00:00:00-05:00,178.944239,182.199959,178.734524,181.580780,70530000,0.00,0.0
1,2023-11-08 00:00:00-05:00,182.110085,183.208629,181.351076,182.649368,49340300,0.00,0.0
2,2023-11-09 00:00:00-05:00,182.719278,183.877740,181.570782,182.169998,53763500,0.00,0.0
3,2023-11-10 00:00:00-05:00,183.970001,186.570007,183.529999,186.399994,66133400,0.24,0.0
4,2023-11-13 00:00:00-05:00,185.820007,186.029999,184.210007,184.800003,43627500,0.00,0.0
5,2023-11-14 00:00:00-05:00,187.699997,188.110001,186.300003,187.440002,60108400,0.00,0.0
6,2023-11-15 00:00:00-05:00,187.850006,189.500000,187.779999,188.009995,53790500,0.00,0.0
7,2023-11-16 00:00:00-05:00,189.570007,190.960007,188.649994,189.710007,54412900,0.00,0.0
8,2023-11-17 00:00:00-05:00,190.250000,190.380005,188.570007,189.690002,50922700,0.00,0.0
9,2023-11-20 00:00:00-05:00,189.889999,191.910004,189.880005,191.449997,46505100,0.00,0.0
10,2023-11-21 00:00:00-05:00,191.410004,191.520004,189.740005,190.639999,38134500,0.00,0.0
11,2023-11-22 00:00:00-05:00,191.490005,192.929993,190.830002,191.309998,39617700,0.00,0.0
12,2023-11-24 00:00:00-05:00,190.869995,190.899994,189.250000,189.970001,24048300,0.00,0.0
13,2023-11-27 00:00:00-05:00,189.919998,190.669998,188.899994,189.789993,40552600,0.00,0.0
14,2023-11-28 00:00:00-05:00,189.779999,191.080002,189.399994,190.399994,38415400,0.00,0.0
15,2023-11-29 00:00:00-05:00,190.899994,192.089996,188.970001,189.369995,43014200,0.00,0.0
16,2023-11-30 00:00:00-05:00,189.839996,190.320007,188.190002,189.949997,48794400,0.00,0.0
17,2023-12-01 00:00:00-05:00,190.330002,191.559998,189.229996,191.240005,45679300,0.00,0.0
18,2023-12-04 00:00:00-05:00,189.979996,190.050003,187.449997,189.429993,43389500,0.00,0.0
19,2023-12-05 00:00:00-05:00,190.210007,194.399994,190.179993,193.419998,66628400,0.00,0.0
20,2023-12-06 00:00:00-05:00,194.449997,194.759995,192.110001,192.320007,41089700,0.00,0.0
21,2023-12-07 00:00:00-05:00,193.630005,195.000000,193.589996,194.270004,47477700,0.00,0.0
22,2023-12-08 00:00:00-05:00,194.199997,195.990005,193.669998,195.710007,53377300,0.00,0.0
23,2023-12-11 00:00:00-05:00,193.110001,193.490005,191.419998,193.179993,60943700,0.00,0.0
24,2023-12-12 00:00:00-05:00,193.080002,194.720001,191.720001,194.710007,52696900,0.00,0.0
25,2023-12-13 00:00:00-05:00,195.089996,198.000000,194.850006,197.960007,70404200,0.00,0.0
26,2023-12-14 00:00:00-05:00,198.020004,199.619995,196.160004,198.110001,66831600,0.00,0.0
27,2023-12-15 00:00:00-05:00,197.529999,198.399994,197.000000,197.570007,128256700,0.00,0.0
28,2023-12-18 00:00:00-05:00,196.089996,196.630005,194.389999,195.889999,55751900,0.00,0.0
29,2023-12-19 00:00:00-05:00,196.160004,196.949997,195.889999,196.940002,40714100,0.00,0.0
30,2023-12-20 00:00:00-05:00,196.899994,197.679993,194.830002,194.830002,52242800,0.00,0.0
31,2023-12-21 00:00:00-05:00,196.100006,197.080002,193.500000,194.679993,46482500,0.00,0.0
32,2023-12-22 00:00:00-05:00,195.179993,195.410004,192.970001,193.600006,37122800,0.00,0.0
33,2023-12-26 00:00:00-05:00,193.610001,193.889999,192.830002,193.050003,28919300,0.00,0.0
34,2023-12-27 00:00:00-05:00,192.490005,193.500000,191.089996,193.149994,48087700,0.00,0.0
35,2023-12-28 00:00:00-05:00,194.139999,194.660004,193.169998,193.580002,34049900,0.00,0.0
36,2023-12-29 00:00:00-05:00,193.899994,194.399994,191.729996,192.529999,42628800,0.00,0.0
37,2024-01-02 00:00:00-05:00,187.149994,188.440002,183.889999,185.639999,82488700,0.00,0.0
38,2024-01-03 00:00:00-05:00,184.220001,185.880005,183.429993,184.250000,58414500,0.00,0.0
39,2024-01-04 00:00:00-05:00,182.149994,183.089996,180.880005,181.910004,71983600,0.00,0.0
40,2024-01-05 00:00:00-05:00,181.990005,182.759995,180.169998,181.179993,62303300,0.00,0.0
41,2024-01-08 00:00:00-05:00,182.089996,185.600006,181.500000,185.559998,59144500,0.00,0.0
42,2024-01-09 00:00:00-05:00,183.919998,185.149994,182.729996,185.139999,42841800,0.00,0.0
43,2024-01-10 00:00:00-05:00,184.350006,186.399994,183.919998,186.190002,46792900,0.00,0.0
44,2024-01-11 00:00:00-05:00,186.539993,187.050003,183.619995,185.589996,49128400,0.00,0.0
45,2024-01-12 00:00:00-05:00,186.059998,186.740005,185.190002,185.919998,40444700,0.00,0.0
46,2024-01-16 00:00:00-05:00,182.160004,184.259995,180.929993,183.630005,65603000,0.00,0.0
47,2024-01-17 00:00:00-05:00,181.270004,182.929993,180.300003,182.679993,47317400,0.00,0.0
48,2024-01-18 00:00:00-05:00,186.089996,189.139999,185.830002,188.630005,78005800,0.00,0.0
49,2024-01-19 00:00:00-05:00,189.330002,191.949997,188.820007,191.559998,65761937,0.00,0.0

In [7]:
hist_msft = yf.Ticker('MSFT').history(period=f'{days}d')
hist_msft.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-11-07 00:00:00-05:00,358.672028,361.725827,356.905624,359.799744,25833900,0.0,0.0
2023-11-08 00:00:00-05:00,360.947384,363.132951,359.819668,362.464325,26767800,0.0,0.0
2023-11-09 00:00:00-05:00,361.566136,364.051113,359.630063,359.959412,24847300,0.0,0.0
2023-11-10 00:00:00-05:00,360.757780,369.350356,360.338648,368.921234,28042100,0.0,0.0
2023-11-13 00:00:00-05:00,367.474145,367.723639,365.158837,365.937256,19986500,0.0,0.0

In [8]:
pd.concat([hist, hist_msft], axis=1).head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,,,,
2023-11-07 00:00:00-05:00,178.944239,182.199959,178.734524,181.580780,70530000,0.00,0.0,358.672028,361.725827,356.905624,359.799744,25833900,0.0,0.0
2023-11-08 00:00:00-05:00,182.110085,183.208629,181.351076,182.649368,49340300,0.00,0.0,360.947384,363.132951,359.819668,362.464325,26767800,0.0,0.0
2023-11-09 00:00:00-05:00,182.719278,183.877740,181.570782,182.169998,53763500,0.00,0.0,361.566136,364.051113,359.630063,359.959412,24847300,0.0,0.0
2023-11-10 00:00:00-05:00,183.970001,186.570007,183.529999,186.399994,66133400,0.24,0.0,360.757780,369.350356,360.338648,368.921234,28042100,0.0,0.0
2023-11-13 00:00:00-05:00,185.820007,186.029999,184.210007,184.800003,43627500,0.00,0.0,367.474145,367.723639,365.158837,365.937256,19986500,0.0,0.0

In [9]:
hist.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-11-07 00:00:00-05:00,178.944239,182.199959,178.734524,181.580780,70530000,0.0,0.0
2023-11-08 00:00:00-05:00,182.110085,183.208629,181.351076,182.649368,49340300,0.0,0.0
2023-11-09 00:00:00-05:00,182.719278,183.877740,181.570782,182.169998,53763500,0.0,0.0

In [10]:
hist.index

DatetimeIndex(['2023-11-07 00:00:00-05:00', '2023-11-08 00:00:00-05:00',
               '2023-11-09 00:00:00-05:00', '2023-11-10 00:00:00-05:00',
               '2023-11-13 00:00:00-05:00', '2023-11-14 00:00:00-05:00',
               '2023-11-15 00:00:00-05:00', '2023-11-16 00:00:00-05:00',
               '2023-11-17 00:00:00-05:00', '2023-11-20 00:00:00-05:00',
               '2023-11-21 00:00:00-05:00', '2023-11-22 00:00:00-05:00',
               '2023-11-24 00:00:00-05:00', '2023-11-27 00:00:00-05:00',
               '2023-11-28 00:00:00-05:00', '2023-11-29 00:00:00-05:00',
               '2023-11-30 00:00:00-05:00', '2023-12-01 00:00:00-05:00',
               '2023-12-04 00:00:00-05:00', '2023-12-05 00:00:00-05:00',
               '2023-12-06 00:00:00-05:00', '2023-12-07 00:00:00-05:00',
               '2023-12-08 00:00:00-05:00', '2023-12-11 00:00:00-05:00',
               '2023-12-12 00:00:00-05:00', '2023-12-13 00:00:00-05:00',
               '2023-12-14 00:00:00-05:00', '2023-12-15 00:00:00-05:00',
               '2023-12-18 00:00:00-05:00', '2023-12-19 00:00:00-05:00',
               '2023-12-20 00:00:00-05:00', '2023-12-21 00:00:00-05:00',
               '2023-12-22 00:00:00-05:00', '2023-12-26 00:00:00-05:00',
               '2023-12-27 00:00:00-05:00', '2023-12-28 00:00:00-05:00',
               '2023-12-29 00:00:00-05:00', '2024-01-02 00:00:00-05:00',
               '2024-01-03 00:00:00-05:00', '2024-01-04 00:00:00-05:00',
               '2024-01-05 00:00:00-05:00', '2024-01-08 00:00:00-05:00',
               '2024-01-09 00:00:00-05:00', '2024-01-10 00:00:00-05:00',
               '2024-01-11 00:00:00-05:00', '2024-01-12 00:00:00-05:00',
               '2024-01-16 00:00:00-05:00', '2024-01-17 00:00:00-05:00',
               '2024-01-18 00:00:00-05:00', '2024-01-19 00:00:00-05:00'],
              dtype='datetime64[ns, America/New_York]', name='Date', freq=None)

In [11]:
hist.index = hist.index.strftime('%d %B %Y')

In [12]:
hist = hist[['Close']]
hist.columns = ['apple']
hist.head()

                       apple
Date
07 November 2023  181.580780
08 November 2023  182.649368
09 November 2023  182.169998
10 November 2023  186.399994
13 November 2023  184.800003

In [13]:
hist = hist.T
hist

Date,07 November 2023,08 November 2023,09 November 2023,10 November 2023,13 November 2023,14 November 2023,15 November 2023,16 November 2023,17 November 2023,20 November 2023,...,05 January 2024,08 January 2024,09 January 2024,10 January 2024,11 January 2024,12 January 2024,16 January 2024,17 January 2024,18 January 2024,19 January 2024
apple,181.58078,182.649368,182.169998,186.399994,184.800003,187.440002,188.009995,189.710007,189.690002,191.449997,...,181.179993,185.559998,185.139999,186.190002,185.589996,185.919998,183.630005,182.679993,188.630005,191.559998

In [14]:
hist.index.name = 'Name'

In [15]:
hist

Date,07 November 2023,08 November 2023,09 November 2023,10 November 2023,13 November 2023,14 November 2023,15 November 2023,16 November 2023,17 November 2023,20 November 2023,...,05 January 2024,08 January 2024,09 January 2024,10 January 2024,11 January 2024,12 January 2024,16 January 2024,17 January 2024,18 January 2024,19 January 2024
Name,,,,,,,,,,,,,,,,,,,,,
apple,181.58078,182.649368,182.169998,186.399994,184.800003,187.440002,188.009995,189.710007,189.690002,191.449997,...,181.179993,185.559998,185.139999,186.190002,185.589996,185.919998,183.630005,182.679993,188.630005,191.559998